@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
  margin: 0;
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* This width property affects the width of the buttons */
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 3rem; */
  /* background-color: lightgray; */
  align-items: stretch;
}

.input {
  border: 4px solid red;
  width: 60%;
  height: auto;
  align-items: center !important;
  /* margin: auto; */
  margin-bottom: 1em;
  font-size: 40px;
  font-family: "Rajdhani", sans-serif !important;
  background-color: white;
}

.keypad {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin-top: 5em;
}

/* General Btn Styles========================================================== */
.num,
.numLock {
  width: calc(100% / 3);
  margin: 10px 10px 5px 10px !important;
  border-radius: 3rem !important;
  font-size: 2em;
  font-family: "Rajdhani", sans-serif !important;
  text-align: center;
  min-width: 95px;
  min-height: 95px;
}

.button_row {
  display: flex;
  justify-content: space-between;
}

/* ============================================================================ */
/* Number Btn Style============================================================ */
.num {
  color: darkslategrey !important;
  background-color: mediumseagreen !important;
}

.num:hover {
  color: black !important;
  background-color: seagreen !important;
}

.num:active {
  color: black !important;
  background-color: seagreen !important;
  transform: translateY(10px);
}

/* ============================================================================ */
/* Check Btn Style============================================================= */
#check {
  color: darkslategrey !important;
  background-color: crimson !important;
}

#check:hover {
  color: black !important;
  background-color: firebrick !important;
}

#check:active {
  color: black !important;
  background-color: firebrick !important;
  transform: translateY(10px);
}
/* ============================================================================ */
/* Clear Btn Style============================================================= */
#clear {
  color: darkslategrey !important;
  background-color: lightseagreen !important;
}

#clear:hover {
  color: black !important;
  background-color: teal !important;
}

#clear:active {
  color: black !important;
  background-color: teal !important;
  transform: translateY(10px);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
