/* #landingPage {
  border: red 3px solid;
  border-radius: 65px;
  margin: auto 300px;
  height: 100%;
  width: auto;
  align-items: center;
}
 */

#employeePage,
#salesPage,
#productsPage,
#statsPage,
#productsPage {
  border: solid red 2px;
  width: 88%;
  float: right;
}

#empWrapper,
#salesWrapper,
#productsWrapper,
#statsWrapper,
#productsWrapper {
  border: solid blue 2px;
  display: flex;
  flex-flow: row wrap;
  top: 0;
  bottom: 0;
  
}
